{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Course{% endblock 'title' %}
{% block 'content' %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{course.name}}</h2>
        <p>{{course.detaits}}</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{{course.image.url}}" class="img-fluid" alt="">
            <h3>{{course.detaits}}</h3>
            <p>
              {{course.content}}
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>teacher</h5>
              <p>{{course.teacher.first_name}} {{course.teacher.last_name}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>{{course.price}}T</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>{{course.available_sits}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Start time</h5>
              <p>{{course.published_date}}</p>
            </div>
            {% if request.user.is_authenticated %}
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Register</h5>
              <a href="{% url 'course:register' %}"><p>click on link for register</p></a>
            {% else %}
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Register</h5>
              <a href="{% url 'accounts:login' %}"><p>for register first login</p></a>
            {% endif %}
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
  </main>
{% endblock 'content' %}