{% extends 'base.html' %}
{% load static %}
{% block 'title' %}About{% endblock 'title' %}
{% block 'content' %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2 style="font-family:B Titr;color:red;">درباره ما</h2>
        <p style="font-family:B Zar;color:black;">لرنینگ پای آکادمی آنلاین مهارت های حوزه کامپیوتر و آی تی . ارائه دهنده راهکارهای سریع ، وسیع و امن در حوزه وب</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style="font-family:B Titr;color:black;" align="center">آکادمی لرنینگ پای مجری و برگذار کننده دوره های آنلاین برنامه نویسی و شبکه</h3>
            <h5 class="fst-italic" style="font-family:B Titr;color:green;" align="center">
              Python , Django , JavaScripts , Html , Css , C++ , Network+ , MySql , SqlServer , ...
            </h5>
            <ul style="font-family:B Nazanin;font-weight:bold" align="right">
              <li><i class="bi bi-check-circle"></i> </li>
              <li>دوره های تعاملی و آنلاین در جهت ارتباط بیشتر با اساتید <i class="bi bi-check-circle"></i> </li>
              <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
              <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
              <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
              <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
              <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
            </ul> 
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->

    {% include 'count.html' %}

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Teacher Resume</h2>
          <p>Who are they ? </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for cr in course %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{cr.teacher.userimage.url}}" class="testimonial-img" alt="">
                  <h3>{{cr.teacher.get_full_name}}</h3>
                  {% for skill in cr.skills.all %}
                  <h4>{{skill.teacher_skills}}</h4>
                  {% endfor %}
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{cr.teacher_resume}}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  {% endblock 'content' %}