{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
{% block 'content' %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-right">
  <div class="container position-relative"  data-aos="zoom-in" data-aos-delay="100">
    <h1 style="font-family:B Zar;">آموزش امروز<br><br>موفقیت فردا</h1>
    <a href="{% url 'course:course' %}" class="btn-get-started" style="font-family:B Zar;font-weight: bold;">همین حالا شروع کنید</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3 style="font-family:B Titr;color:brown;" align="right">آکادمی لرنینگ پای مجری و برگذار کننده دوره های آنلاین برنامه نویسی و شبکه</h3>
          <p class="fst-italic" style="font-family:B Titr;color:green;" align=right>
            پایتون ، جنگو ، دیتابیس ، نتورک پلاس ، و ده ها دوره تخصصی و کاربردی
          </p>
          <ul style="font-family:B Nazanin;font-weight:bold" align="right">
            <li>کاملا پروژه محور با هدف ارتقاء دانش عملیاتی <i class="bi bi-check-circle"></i> </li>
            <li>دوره های تعاملی و آنلاین در جهت ارتباط بیشتر با اساتید <i class="bi bi-check-circle"></i> </li>
            <li>منتورینگ و پشتیبانی دوره ها در گروه های مختص هر دوره در راستای رفع اشکالات <i class="bi bi-check-circle"></i> </li>
          </ul>
          <h3 style="font-weight:bold" align="center">
             Python , Django , JavaScript , Html , Css , Network and Infrastructure , MySQL and More ...
          </h3>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  {% include 'count.html' %}

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3 style="font-family:B Titr;" align="center">چرا لرنینگ پای ؟</h3>
            <p style="font-family:B Nazanin;" align="right">
              تجربه و مهارت ، انجام پروژه های متعدد ، سابقه تدریس در ارگانهای مهم همچون مراکز و مناطق نفتی دلایلیست که آکادمی لرنینگ پای را به مرکزی با تجربه در جهت آموزش و ارتقاء سطح علمی جوانان تبدیل میکند . همچنین بهره گیری از اساتید مجرب و با تجربه با رزومه ای قوی مهر تاییدیست بر آنچه مجموعه لرنینگ پای مدعی آن است
              همچنین این مجموعه خدمات متنوعی از قبیل طراحی وبسایت ، پیاده سازی دیتابیس های کاستومایز شده ، سی ار ام های اختصاصی ، پیاده سازی و طراحی شبکه و اتوماسیون های اداری و ده ها خدمت دیگر را در راستای نیازمندی های جامعه به هم میهنان گرامی ارائه میدهد
            </p>
            <div class="text-center">
              <a href="{% url 'home:about' %}" class="more-btn" style="font-family:B Zar;font-weight:bold">بیشتر بدانید <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              {% for service in services %}
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>{{service.title}}</h4>
                  <p>{{service.content}}</p>
                </div>
              </div>
              {% endfor %}

            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Courses</h2>
        <p style="font-family:B Titr;color:red">محبوب ترین دوره ها</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        {% for cr in course %}

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="{{cr.image.url}}" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="price">{{cr.price}}</p>
              </div>

              <h3><a href="{% url 'course:course_detail'  pid=cr.id %}">{{cr.name}}</a></h3>
              <p>{{cr.content}}</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="{{cr.teacher.userimage.url}}" class="img-fluid" alt="">
                  <span>{{cr.teacher.get_full_name}}</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>&nbsp;{{cr.counted_views}}
                  &nbsp;&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Popular Courses Section -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Teacher</h2>
        <p style="font-family:B Titr;color:red">درباره اساتید</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        {% for cr in course %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="filter:grayscale(1);">
          <div class="member">
            <img  src="{{cr.teacher.userimage.url}}" class="img-fluid" alt="">
            <div class="member-content">
              <h4>{{cr.teacher.get_full_name}}</h4>
              {% for sk in cr.skills.all %}
              <span>{{sk.teacher_skills}}</span>
              {% endfor %}
              <p>
                {{cr.teacher_resume}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
{% endblock 'content' %}