{% extends 'base.html' %}
{% block 'title'%}signup{% endblock 'title' %}
{% block 'content' %}


<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    </div>
</section>
<form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <div class="container" >
        
        <div class="row">
            <div class="col-md-12" style="font-family:B Zar;color:brown;font-weight:bold" align="right">
                <br><h3 style="font-family:B Zar;color:green;font-weight:bold" align="right">فرم ورود </h3><br>
                <label for="uname"><b>نام کاربری یا ایمیل</b></label><br>
                <input type="text"  name="username" required><br>

                <label for="psw"><b>کلمه عبور</b></label><br>
                <input type="password"  name="password" required><br>
                {{captcha}}<br>
                <button type="submit" class="btn btn-primary" >  ورود    </button><br><br>
                {% for message in messages %}
                <h4 style="font-family:B Zar;color:red" align="right">{{message}}</h4>
                {% endfor %}
            </div>           
        </div>
        
    </div>
    
    
</form>


{% endblock 'content' %}