{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block 'title' %}Password reset{% endblock 'title' %}
{% block 'content' %}
  <div class="container" >
    <div class="row">
      <div class="col-md-5">
        <form method="post" action="">
          {% csrf_token %}
          <br><p style="font-family:B Zar;color:black;font-weight:bold" align="right">پسورد جدید خود را در کادر های زیر وارد کنید</p>
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock 'content' %}